TH {
    text-align: center;
    color: blue;
    background-color: # FFEEII;
    background-color: rgba(0, 0, 0, .5);
rgba(255, 255, 255, 1)
}

#main_name {
    text-align: center;
}

#images, #menu, #sites {
    text-align: center;
}

p {
    padding-top: 25px padding-right : 50 px;
    padding-bottom: 25px;
    padding-left: 50px;
}

a {
    color: lightgrey;
    border: 1px solid lightgrey;
    padding: 5px
}

.selected {
    color: white;
    border: 2px solid lightgrey;

}

#phone_list {
    border: 1px solid lightgrey;
}

